{% extends 'base/layout.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/testimony_style.css' %}">
	<script src="{% static 'js/testimonyJS.js' %}"></script>
{% endblock %}

{% block title %}Testimony{% endblock %}

{% block body %}
	{% include 'base/navbar.html' %}
	
	<div class="content-div">
		<h1 class="section-title text-center">TESTIMONY</h1>
		
		<!--button refresh-->
		<button method="POST" onclick="refresh()" type="button" class="btn btn-primary">Refresh</button>
		<div class="testimony_list"id="testimonyShow">

		</div>
	</div>


	{% include 'base/footer.html' %}
{% endblock %}