{% extends 'base/layout.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/testimony_style.css' %}">
	<script src="{% static 'js/testimonyJS.js' %}"></script>
{% endblock %}

{% block title %}Testimony{% endblock %}

{% block body %}
	{% include 'base/navbar.html' %}
	
	<div class="content-div">
		<h1 class="section-title text-center">TESTIMONY</h1>
		<button href="#testimony-form" class="form-group btn-submit" data-toggle="collapse">Testify</button>
		<div class="collapse in" id="testimony-form">
			<form action="{% url 'testimony:add_testimony' %}" method="POST">
				{% csrf_token %}

				<div class="form-row">
					<div class="form-group col-sm-4">
						{{ form.username }}
					</div>
					<div class="form-group col-sm-8">
						{{ form.title }}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-12">
						{{ form.content }}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-12">
						<input class="form-group btn-submit float-right" type="submit" value="Post">
					</div>
				</div>		
			</form>
		</div>

		<!--button refresh-->
		<br>
		<button method="POST" onclick="refresh()" type="button" class="btn btn-primary">Refresh</button>
		<div class="testimony_list"id="testimonyShow">
		</div>
	</div>


	{% include 'base/footer.html' %}
{% endblock %}