{% extends 'base/layout.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" type="text/css" href="{% static 'homepage/home_style.css' %}">
	<script type="text/javascript" src="{% static 'homepage/homepage.js' %}"></script>
{% endblock %}

{% block title %}
	Home
{% endblock %}

{% block body %}
	{% include 'base/navbar.html' %}

	<div id="brand-div" class="flex-center">
		<div class="text-center">
			<p id="brand-title">pacility.</p>
			<p id="brand-description">a reporting web</p>
		</div>
	</div>

	<div class="content-div">
		<p class="section-title">ANNOUNCEMENTS</p>

		{% if user.is_authenticated %}
		<form action="{% url 'homepage:add_announcement' %}" id="announcement-form">
			{% csrf_token %}

			<input id="username" type="hidden" value="{{ user.username }}">
			<div class="form-row">
				<div class="form-group col-sm-4">
					{{ form.username }}
				</div>
				<div class="form-group col-sm-8">
					{{ form.title }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-12">
					{{ form.content }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-12">
					<input class="form-group btn-submit float-right" type="submit" value="Post">
				</div>
			</div>		
		</form>
		{% endif %}

		<div class="announcement-list">
		
		</div>
	</div>


	{% include 'base/footer.html' %}
{% endblock %}