{% load static %}

<footer>
	<div class="container text-center">
		<ul class="list-inline">
			<li class="list-inline-item">
				<img src="{% static 'base/images/instagram.png' %}" class="img-contact">
				<p class="contact-text">pacility.</p>
			</li>
			<li class="list-inline-item">
				<img src="{% static 'base/images/twitter.png' %}" class="img-contact">
				<p class="contact-text">pacility.</p>
			</li>
			<li class="list-inline-item">
				<img src="{% static 'base/images/facebook.png' %}" class="img-contact">
				<p class="contact-text">pacility.</p>
			</li>
		</ul>

		<span id="footer-divider"></span>
		<p class="copyright">© 2019 pacility. | ALL RIGHTS RESERVED</p>
	</div>
	{% block linkJS %} {% endblock %}
</footer>