{% extends 'base/layout.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'report_form/css/form_style.css' %}">
{% endblock %}

{% block title %}
    Form
{% endblock %}

{% block body %}

{% include 'base/navbar.html' %}

{% if user.is_authenticated %} 
<style>
    details summary::-webkit-details-marker {
        display:none;
    }
</style>
<div class="content-div">
    <details ontoggle="myFunction()">
    <summary id="section-title" class="section-title" onmousedown="mouseDown()" onmouseup="mouseUp()" style="list-style: none;">REPORT FORM</summary>
    <p style= "text-decoration-style: wavy;"> let us know your complaint</p>
    </details>
    <form action="{% url 'report_form:add_report_service' %}" method="POST" id="report_form-form">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-sm-8">
                {{ form.form_title }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-8">
                {{ form.location }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-8">
                {{ form.time }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-8">
                {{ form.category }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-12">
                {{ form.description }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-12">
                <input class="form-group btn-submit float-right" value="Report" onclick="post_report()">
            </div>
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script>
        function mouseDown() {
            document.getElementById("section-title").style.color = "#F4976C"; 
            }

        function mouseUp() {
            document.getElementById("section-title").style.color = "#303C6C";
            }
        
        function myFunction() {
            }
            
        function post_report() {
            console.log("reportttt")
            data = {
                "csrfmiddlewaretoken": '{{ csrf_token }}',
                "form_title": document.getElementById("id_form_title").value,
                "location" : document.getElementById("id_location").value,
                "time": document.getElementById("id_time").value,
                "category": document.getElementById("id_category").value,
                "description": document.getElementById("id_description").value
            }
            $.ajax({
                type: "POST",
                url: "/report_form/report_service/",
                data: data,
                success: function( data, textStatus, jQxhr ){
                    if(!data["message"]) {
                        alert("EError, please check the fields");
                    } else {
                        alert(data["message"]);
                    }
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    alert("Error, please check the fields");
                }
            });
        }
    </script>
</div>
{% else %}
   <div class= "row" style="width: 100vw; margin: 0;">
        <div class="col-md-12 authenReports">
        <h3 style="text-align: center;"></br></br></br></br></br>YOU HAVE TO LOGIN </br> TO FILL IN THE FORM</h3>
        </div>
   </div>
    {% endif %}

{% include 'base/footer.html' %}
{% endblock %}



